@font-face {
  font-family: 'Osaka';
  src: url('fonts/Osaka.eot?#iefix') format('embedded-opentype'),  url('fonts/Osaka.woff') format('woff'), url('fonts/Osaka.ttf')  format('truetype'), url('fonts/Osaka.svg#Osaka') format('svg');
  font-weight: normal;
  font-style: normal;
}

