.bg-blue {
    background: #00498c;
}
.top-date {
    margin-top: 25px;
    font-size: 13px;
    color: #656565;
}
.top-date p {
    margin-bottom: 0;
}
.row-tp {
    float: left;
    width: 660px;
    margin-bottom: 70px;
    position: relative;
    background: #fff;
    min-height: 240px;    
}
.row-tp:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 3px;
  width: 90%;
  top: 80%;
  max-width:660px;
  background: #777;
  -webkit-box-shadow: 0 17px 7px rgba(119, 119, 119, 0.4);
  -moz-box-shadow: 0 17px 7px rgba(119, 119, 119, 0.4);
  box-shadow: 0 17px 7px rgba(119, 119, 119, 0.4);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(0deg);
}
.topicsl-h{
    font-size: 21p;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #01539d;
    font-weight: bold;
    border-bottom: 2px dotted #0064be;
}